body {
    font-family: Arial, sans-serif;
}

#chat {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#messages {
    list-style: none;
    padding: 0;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#messages li {
    padding: 5px;
}

.input-container {
    display: flex;
    gap: 5px;
}

.message_input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 100px;
}

#chat button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}

#chat button:hover {
    background-color: #45a049;
}